/* css for home page */
.hero {
    padding: 2rem;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
}

.home-img-div {
    display: grid;
    /* background-color: saddlebrown; */
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
    height: 70vh;
    padding: 50px;
   
}

.home-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}

.about {
    margin-top: 2rem;
    background-color: saddlebrown;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}

.aboutText {
    color: white;
    font-size: 20px;
    padding: 0;
    margin: 0;
    
}

.cta-btn {
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}



/* css for menu page */
.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
}

.menu-card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
}

.menu-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.menu-card h3 {
    margin-bottom: 0.3rem;
}

.menu-card span {
    font-weight: bold;
    color: #444;
}
